In [7]:
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/my_db.db")

print(my_conn.name)

r_set = my_conn.execute('''SELECT name from sqlite_master where type = 'table' ''')
for row in r_set:
    print(row)

r_set = my_conn.execute('''SELECT * FROM student ''');
for row in r_set:
    print(row)

r_set = my_conn.execute('''SELECT * from category''');
for row in r_set:
    print(row)

r_set = my_conn.execute('''SELECT * from subcategory''');
for row in r_set:
  print(row)

sqlite
('category',)
('subcategory',)
('student',)
(1, 'John Deo', 'Four', 75, 'female')
(2, 'Max Ruin', 'Three', 85, 'male')
(3, 'Arnold', 'Three', 55, 'male')
(4, 'Krish Star', 'Four', 60, 'female')
(5, 'John Mike', 'Four', 60, 'female')
(6, 'Alex John', 'Four', 55, 'male')
(7, 'My John Rob', 'Five', 78, 'male')
(8, 'Asruid', 'Five', 85, 'male')
(9, 'Tes Qry', 'Six', 78, 'male')
(10, 'Big John', 'Four', 55, 'female')
(11, 'Ronald', 'Six', 89, 'female')
(12, 'Recky', 'Six', 94, 'female')
(13, 'Kty', 'Seven', 88, 'female')
(14, 'Bigy', 'Seven', 88, 'female')
(15, 'Tade Row', 'Four', 88, 'male')
(16, 'Gimmy', 'Four', 88, 'male')
(17, 'Tumyu', 'Six', 54, 'male')
(18, 'Honny', 'Five', 75, 'male')
(19, 'Tinny', 'Nine', 18, 'male')
(20, 'Jackly', 'Nine', 65, 'female')
(21, 'Babby John', 'Four', 69, 'female')
(22, 'Reggid', 'Seven', 55, 'female')
(23, 'Herod', 'Eight', 79, 'male')
(24, 'Tiddy Now', 'Seven', 78, 'male')
(25, 'Giff Tow', 'Seven', 88, 'male')
(26, 'Crelea', 'Seven', 79, 'male')
(27, 'Big Nose', 'Three', 81, 'female')
(28, 'Rojj Base', 'Seven', 86, 'female')
(29, 'Tess Played', 'Seven', 55, 'male')
(30, 'Reppy Red', 'Six', 79, 'female')
(31, 'Marry Toeey', 'Four', 88, 'male')
(32, 'Binn Rott', 'Seven', 90, 'female')
(33, 'Kenn Rein', 'Six', 96, 'female')
(34, 'Gain Toe', 'Seven', 69, 'male')
(35, 'Rows Noump', 'Six', 88, 'female')
(1, 'Fruits')
(2, 'Colors')
(3, 'Games')
(4, 'Vehicles')
(1, 'Mango')
(1, 'Banana')
(1, 'Orange')
(1, 'Apple')
(2, 'Red')
(2, 'Blue')
(2, 'Green')
(2, 'Yellow')
(3, 'Cricket')
(3, 'Football')
(3, 'Baseball')
(3, 'Tennis')
(4, 'Cars')
(4, 'Trucks')
(4, 'Bikes')
(4, 'Train')
(1, 'John Deo', 'Four', 75, 'female')
(4, 'Krish Star', 'Four', 60, 'female')
(5, 'John Mike', 'Four', 60, 'female')
(6, 'Alex John', 'Four', 55, 'male')
(10, 'Big John', 'Four', 55, 'female')
(15, 'Tade Row', 'Four', 88, 'male')
(16, 'Gimmy', 'Four', 88, 'male')
(21, 'Babby John', 'Four', 69, 'female')
(31, 'Marry Toeey', 'Four', 88, 'male')

ERROR:sqlalchemy.pool.impl.NullPool:Exception during reset or similar
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 753, in _finalize_fairy
    fairy._reset(pool)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 1004, in _reset
    pool._dialect.do_rollback(self)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/engine/default.py", line 683, in do_rollback
    dbapi_connection.rollback()
sqlite3.ProgrammingError: SQLite objects created in a thread can only be used in that same thread. The object was created in thread id 140669933094784 and this is thread id 140669510563584.
ERROR:sqlalchemy.pool.impl.NullPool:Exception closing connection <sqlite3.Connection object at 0x7ff02a3791f0>
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 753, in _finalize_fairy
    fairy._reset(pool)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 1004, in _reset
    pool._dialect.do_rollback(self)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/engine/default.py", line 683, in do_rollback
    dbapi_connection.rollback()
sqlite3.ProgrammingError: SQLite objects created in a thread can only be used in that same thread. The object was created in thread id 140669933094784 and this is thread id 140669510563584.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 255, in _close_connection
    self._dialect.do_terminate(connection)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/engine/default.py", line 689, in do_terminate
    self.do_close(dbapi_connection)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/engine/default.py", line 692, in do_close
    dbapi_connection.close()
sqlite3.ProgrammingError: SQLite objects created in a thread can only be used in that same thread. The object was created in thread id 140669933094784 and this is thread id 140669510563584.

In [12]:
#display all records of particular class only 

q = "SELECT id, name, class, mark, sex FROM student WHERE class='Four'"
my_cursor = my_conn.execute(q)
for row in my_cursor:
  print(row)

(1, 'John Deo', 'Four', 75, 'female')
(4, 'Krish Star', 'Four', 60, 'female')
(5, 'John Mike', 'Four', 60, 'female')
(6, 'Alex John', 'Four', 55, 'male')
(10, 'Big John', 'Four', 55, 'female')
(15, 'Tade Row', 'Four', 88, 'male')
(16, 'Gimmy', 'Four', 88, 'male')
(21, 'Babby John', 'Four', 69, 'female')
(31, 'Marry Toeey', 'Four', 88, 'male')

In [20]:
#open file anr run script

with open("student_tables.sql", "r") as file:
  query = file.read()
  my_conn.execute(query)

In [ ]:
#show list of tables
r_set = my_conn.execute("SELECT name from sqlite_master where type='table';")
for row in r_set:
  print(row)

In [ ]:
with open("student_insert.sql", "r") as file:
  query = file.read()
  my_conn.execute(query)
r_set = my_conn.execute('''SELECT * from student''');
for row in r_set:
  print(row)

In [15]:
my_cursor = my_conn.execute("select id, name, class, mark, sex from student where id = 8")
data_row = my_cursor.fetchone()
print(data_row)

(8, 'Asruid', 'Five', 85, 'male')

In [ ]:
# select 10 records only 
q="SELECT id, name, class, mark, sex FROM student limit 0,10"
my_cursor = my_conn.execute(q)
data_row=my_cursor.fetchall()
print(type(data_row))
print("No of record : {}".format(len(data_row)))
for row in data_row:
  print(row)

In [19]:
# delete sample table student

from sqlalchemy.exc import  SQLAlchemyError
try:
  my_conn.execute('''DROP table student;''')
  print("student table deleted")
except SQLAlchemyError as e:
  error = str(e.__dict__['orig'])
  print(error)

student table deleted

In [22]:
# create student table 
from sqlalchemy.exc import  SQLAlchemyError
try:
  my_conn.execute('''CREATE TABLE IF NOT EXISTS student(id integer primary key, name text, class text, mark integer, sex, text);''')
  print("Student table created succesfully")
except SQLAlchemyError as e:
  error = str(e.__dict__['orig'])
  print(error)

Student table created succesfully

In [23]:
from sqlalchemy.exc import SQLAlchemyError
q = "UPDATE student SET mark=mark+1"
try: 
  r_set = my_conn.execute(q)
except SQLAlchemyError as e:
  error = str(e.__dict__['orig'])
  print(error)
else:
  print("NO OF RECORD UPDATED : ",r_set.rowcount)

NO OF RECORD UPDATED :  20

In [24]:
from sqlalchemy.exc import SQLAlchemyError
q = "UPDATE student SET mark=mark+1 where id=7"
try: 
  r_set = my_conn.execute(q)
except SQLAlchemyError as e:
  error = str(e.__dict__['orig'])
  print(error)
else:
  print("NO OF RECORD UPDATED : ",r_set.rowcount)

NO OF RECORD UPDATED :  1

In [26]:
from sqlalchemy.exc import SQLAlchemyError
q = "UPDATE student SET mark=mark+1 where class='Four'"
try: 
  r_set = my_conn.execute(q)
except SQLAlchemyError as e:
  error = str(e.__dict__['orig'])
  print(error)
else:
  print("NO OF RECORD UPDATED : ",r_set.rowcount)

NO OF RECORD UPDATED :  6

In [27]:
from sqlalchemy.exc import SQLAlchemyError
q = "UPDATE student SET class='Four' where class='Three'"
try: 
  r_set = my_conn.execute(q)
except SQLAlchemyError as e:
  error = str(e.__dict__['orig'])
  print(error)
else:
  print("NO OF RECORD UPDATED : ",r_set.rowcount)

NO OF RECORD UPDATED :  3

In [30]:
from sqlalchemy.exc import SQLAlchemyError
id = input("Enter student id : ")
my_data=(id,)
q = "UPDATE student SET mark=mark+5 where id=?"
try: 
  r_set = my_conn.execute(q, my_data)
except SQLAlchemyError as e:
  error = str(e.__dict__['orig'])
  print(error)
else:
  print("NO OF RECORD UPDATED : ",r_set.rowcount)

Enter student id : 11
NO OF RECORD UPDATED :  1

In [31]:
from sqlalchemy.exc import SQLAlchemyError

my_data=('Six','Seven')
q = "UPDATE student SET class=? where class=?"
try: 
  r_set = my_conn.execute(q, my_data)
except SQLAlchemyError as e:
  error = str(e.__dict__['orig'])
  print(error)
else:
  print("NO OF RECORD UPDATED : ",r_set.rowcount)

NO OF RECORD UPDATED :  4

In [33]:
from sqlalchemy.exc import SQLAlchemyError

q = "SELECT DISTINCT(class) from student"
try: 
  r_set = my_conn.execute(q)
  data=r_set.fetchall()
  for row in data:
    print(row[0])
except SQLAlchemyError as e:
  error = str(e.__dict__['orig'])
  print(error)
else:
  print("NO OF RECORD displayed : ",len(data))

Four
Five
Six
NO OF RECORD displayed :  3

In [34]:
from sqlalchemy.exc import SQLAlchemyError

q = "SELECT DISTINCT(class) from student order by class"
try: 
  r_set = my_conn.execute(q)
  data=r_set.fetchall()
  for row in data:
    print(row[0])
except SQLAlchemyError as e:
  error = str(e.__dict__['orig'])
  print(error)
else:
  print("NO OF RECORD displayed : ",len(data))

Five
Four
Six
NO OF RECORD displayed :  3

In [39]:
from sqlalchemy.exc import SQLAlchemyError

q = "SELECT DISTINCT class,sex from student order by class"
try: 
  r_set = my_conn.execute(q)
  data=r_set.fetchall()
  for row in data:
    print(row[0], row[1])
except SQLAlchemyError as e:
  error = str(e.__dict__['orig'])
  print(error)
else:
  print("NO OF RECORD displayed : ",len(data))

Five male
Four female
Four male
Six male
Six female
NO OF RECORD displayed :  5

In [42]:
from sqlalchemy.exc import SQLAlchemyError

q = "DELETE from student where id=6"
try: 
  r_set = my_conn.execute(q)
except SQLAlchemyError as e:
  error = str(e.__dict__['orig'])
  print(error)
else:
  print("NO OF RECORD deleted : ",r_set.rowcount)

NO OF RECORD deleted :  1

In [43]:
from sqlalchemy.exc import SQLAlchemyError

q = "DELETE from student where class='Four'"
try: 
  r_set = my_conn.execute(q)
except SQLAlchemyError as e:
  error = str(e.__dict__['orig'])
  print(error)
else:
  print("NO OF RECORD deleted : ",r_set.rowcount)

NO OF RECORD deleted :  7

In [45]:
from sqlalchemy.exc import SQLAlchemyError
my_data=("Five",)
q = "DELETE from student where class=?"
try: 
  r_set = my_conn.execute(q, my_data)
except SQLAlchemyError as e:
  error = str(e.__dict__['orig'])
  print(error)
else:
  print("NO OF RECORD deleted : ",r_set.rowcount)

NO OF RECORD deleted :  0

In [46]:
from sqlalchemy.exc import SQLAlchemyError
my_data=("Six", "Seven")
q = "DELETE from student where class=? OR class=?"
try: 
  r_set = my_conn.execute(q, my_data)
except SQLAlchemyError as e:
  error = str(e.__dict__['orig'])
  print(error)
else:
  print("NO OF RECORD deleted : ",r_set.rowcount)

NO OF RECORD deleted :  9