In [33]:
# Connect database /create
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:////content/test1.db")

In [71]:
# create tables  

queries = [
    '''CREATE TABLE IF NOT EXISTS fatl(
  id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
  level INTEGER NOT NULL,
  qualification_date TEXT NOT NULL,
  driver_id TEXT NOT NULL
);''',

'''CREATE TABLE IF NOT EXISTS stlv(
  id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
  level INTEGER NOT NULL,
  qualification_date TEXT NOT NULL,
  certifying TEXT,
  driver_id TEXT NOT NULL
);''',

'''CREATE TABLE IF NOT EXISTS base_entity(
  id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL
  );''',

'''CREATE TABLE IF NOT EXISTS language(
  iso_code TEXT NOT NULL, name TEXT NOT NULL, PRIMARY KEY(iso_code)
  );''',

'''CREATE TABLE IF NOT EXISTS associated_lang(
  base_entity_id INTEGER NOT NULL,
  language_iso_code TEXT NOT NULL,
  CONSTRAINT base_entity_associated_lang
    FOREIGN KEY (base_entity_id) REFERENCES base_entity (id),
  CONSTRAINT language_associated_lang
    FOREIGN KEY (language_iso_code) REFERENCES language (iso_code)
);''',

'''CREATE TABLE IF NOT EXISTS countries(
  id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
  country_name TEXT NOT NULL,
  base_entity_id INTEGER NOT NULL,
  CONSTRAINT base_entity_countries
    FOREIGN KEY (base_entity_id) REFERENCES base_entity (id)
);''',


'''CREATE TABLE IF NOT EXISTS game_official(
  id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
  first_name TEXT NOT NULL,
  last_name TEXT NOT NULL,
  city_id INTEGER NOT NULL,
  role_id INTEGER NOT NULL,
  base_entity_id INTEGER NOT NULL,
  CONSTRAINT city_game_official FOREIGN KEY (city_id) REFERENCES city (id),
  CONSTRAINT role_game_official FOREIGN KEY (role_id) REFERENCES role (id),
  CONSTRAINT base_entity_game_official
    FOREIGN KEY (base_entity_id) REFERENCES base_entity (id)
);''',

'''CREATE TABLE IF NOT EXISTS role(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, name TEXT NOT NULL);''',

'''CREATE TABLE IF NOT EXISTS trip_info(
  id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
  adress TEXT NOT NULL,
  location_type TEXT,
  date_time TEXT,
  odometer INTEGER
);''',



'''CREATE TABLE IF NOT EXISTS city(
  id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
  name TEXT NOT NULL,
  country_id INTEGER NOT NULL,
  CONSTRAINT countries_city FOREIGN KEY (country_id) REFERENCES countries (id)
);''',

'''CREATE TABLE IF NOT EXISTS vehicle(
  id TEXT NOT NULL,
  registration_id TEXT NOT NULL,
  manufacter TEXT NOT NULL,
  model TEXT NOT NULL,
  color TEXT NOT NULL,
  curent_odometer INTEGER NOT NULL,
  passenger_capacity INTEGER NOT NULL,
  is_available INTEGER NOT NULL,
  maintenance_id INTEGER,
  PRIMARY KEY(id),
  CONSTRAINT maintenance_vehicle
    FOREIGN KEY (maintenance_id) REFERENCES maintenance (id)
);''',


'''CREATE TABLE IF NOT EXISTS maintenance(
  id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
  action_type TEXT NOT NULL,
  odometer INTEGER NOT NULL,
  final_cost INTEGER NOT NULL,
  action_description TEXT NOT NULL,
  date TEXT NOT NULL
);''',

'''CREATE TABLE IF NOT EXISTS booking(
  booking_ref TEXT NOT NULL,
  vehicle_id TEXT NOT NULL,
  driver_id INTEGER NOT NULL,
  trip_info_start INTEGER NOT NULL,
  trip_info_end INTEGER,
  game_official_id INTEGER NOT NULL,
  PRIMARY KEY(booking_ref),
  CONSTRAINT vehicle_booking FOREIGN KEY (vehicle_id) REFERENCES vehicle (id),
  CONSTRAINT driver_booking FOREIGN KEY (driver_id) REFERENCES driver (id),
  CONSTRAINT trip_info_booking
    FOREIGN KEY (trip_info_start) REFERENCES trip_info (id),
  CONSTRAINT trip_info_booking
    FOREIGN KEY (trip_info_end) REFERENCES trip_info (id),
  CONSTRAINT game_official_booking
    FOREIGN KEY (game_official_id) REFERENCES game_official (id)
);''',


'''CREATE TABLE IF NOT EXISTS driver(
  id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
  first_name TEXT NOT NULL,
  last_name TEXT NOT NULL,
  license_numer TEXT NOT NULL,
  clerence_level INTEGER NOT NULL,
  stlv_id INTEGER,
  fatl_id INTEGER,
  base_entity_id INTEGER NOT NULL,
  CONSTRAINT stlv_driver FOREIGN KEY (stlv_id) REFERENCES stlv (id),
  CONSTRAINT fatl_driver FOREIGN KEY (fatl_id) REFERENCES fatl (id),
  CONSTRAINT base_entity_driver
    FOREIGN KEY (base_entity_id) REFERENCES base_entity (id)
);''']

from sqlalchemy. exc import SQLAlchemyError

for query in queries:
  try:
    my_conn.execute(query)
  except SQLAlchemyError as e:
    print(e)
    error=str(e.__dict__['orig'])
    print(error)


print("all table created");

(sqlite3.OperationalError) table driver already exists
[SQL: CREATE TABLE  driver(
  id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
  first_name TEXT NOT NULL,
  last_name TEXT NOT NULL,
  license_numer TEXT NOT NULL,
  clerence_level INTEGER NOT NULL,
  stlv_id INTEGER,
  fatl_id INTEGER,
  base_entity_id INTEGER NOT NULL,
  CONSTRAINT stlv_driver FOREIGN KEY (stlv_id) REFERENCES stlv (id),
  CONSTRAINT fatl_driver FOREIGN KEY (fatl_id) REFERENCES fatl (id),
  CONSTRAINT base_entity_driver
    FOREIGN KEY (base_entity_id) REFERENCES base_entity (id)
);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
table driver already exists
all table created

In [64]:
# create record for fatl table

my_conn.execute('''INSERT INTO fatl(level, qualification_date, driver_id) VALUES(33, "21/10/2022", "driver1") ''')

In [38]:
# create record for stlv table

my_conn.execute('''INSERT INTO stlv(level, qualification_date, certifying, driver_id) VALUES(2, "18/09/2022", "police", "driver1") ''')

In [41]:
# create record for base_entity table

my_conn.execute('''INSERT INTO base_entity(id) VALUES(null) ''')

In [42]:
# create record for language table

my_conn.execute('''INSERT INTO language(iso_code, name) VALUES("FR", "France") ''')

In [43]:
# create record for associated_lang table

my_conn.execute('''INSERT INTO associated_lang(base_entity_id, language_iso_code) VALUES(1, "ISOMESCOUILLES") ''')

In [44]:
# create record for countries table

my_conn.execute('''INSERT INTO countries( country_name, base_entity_id) VALUES( "France", 1) ''')

In [45]:
# create record for game_official table

my_conn.execute('''INSERT INTO game_official( first_name, last_name, city_id, role_id, base_entity_id) VALUES ( "balthazar", "roque", 1, 1, 2) ''')

In [46]:
# create record for role table

my_conn.execute('''INSERT INTO role( name) VALUES ( "Coach") ''')

In [47]:
# create record for trip_info table

my_conn.execute('''INSERT INTO  trip_info( adress, location_type, date_time, odometer) VALUES ( "4 rue saint georges, 77130 Marolles sur seine", "hostel", "22/10/2022 : 10:12", 2451553)''')

In [48]:
# create record for city table

my_conn.execute('''INSERT INTO city( name, country_id) VALUES ( "Toronto", 1) ''')

In [49]:
# create record for vehicle table

my_conn.execute('''INSERT INTO vehicle(id, registration_id, manufacter, model, color, curent_odometer, passenger_capacity, is_available, maintenance_id) VALUES ("1", "resgister_1", "kia" ,"stinger", "grey", 1873788, 3, 0, 1 )''')

In [69]:
# create record for maintenance table

my_conn.execute('''INSERT INTO maintenance( action_type, odometer, final_cost, action_description, date) VALUES ( "A", 144155, 415166, "change oil", "22/10/2020")''')

In [70]:
# create record for booking table

my_conn.execute('''INSERT INTO booking(booking_ref, vehicle_id, driver_id, trip_info_start, trip_info_end, game_official_id) VALUES ("booking_ref1", "vehicle_id", 1, 2, 2, 3 )''')

In [67]:
# create record for driver table

my_conn.execute('''INSERT INTO driver( first_name, last_name, license_numer, clerence_level, stlv_id, fatl_id, base_entity_id) VALUES ( "mijj", "hhe", "hbhdebhj", 2, 1, 2, 1)''')

In [72]:
# fetch 10 first record in fatl table
query = "SELECT * FROM fatl limit 0,10"
test = my_conn.execute(query)

data_row = test.fetchall()

for row in data_row:
  print(row)

(1, 33, '21/10/2022', 'driver1')
(2, 33, '21/10/2022', 'driver1')
(3, 33, '21/10/2022', 'driver1')
(4, 33, '21/10/2022', 'driver1')
(5, 33, '21/10/2022', 'driver1')
(6, 33, '21/10/2022', 'driver1')
(7, 33, '21/10/2022', 'driver1')
(8, 33, '21/10/2022', 'driver1')
(9, 33, '21/10/2022', 'driver1')
(10, 33, '21/10/2022', 'driver1')

In [73]:
# fetch 10 first record in stlv table
query = "SELECT * FROM stlv limit 0,10"
test = my_conn.execute(query)

data_row = test.fetchall()

for row in data_row:
  print(row)

(1, 2, '18/09/2022', 'police', 'driver1')

In [74]:
# fetch 10 first record in base_entity table
query = "SELECT * FROM base_entity limit 0,10"
test = my_conn.execute(query)

data_row = test.fetchall()

for row in data_row:
  print(row)

(1,)

In [ ]:
# fetch 10 first record in language table
query = "SELECT * FROM language limit 0,10"
test = my_conn.execute(query)

data_row = test.fetchall()

for row in data_row:
  print(row)

In [ ]:
# fetch 10 first record in associated_lang table
query = "SELECT * FROM associated_lang limit 0,10"
test = my_conn.execute(query)

data_row = test.fetchall()

for row in data_row:
  print(row)

In [ ]:
# fetch 10 first record in countries table
query = "SELECT * FROM countries limit 0,10"
test = my_conn.execute(query)

data_row = test.fetchall()

for row in data_row:
  print(row)

In [75]:
# fetch 10 first record in game_official table
query = "SELECT * FROM game_official limit 0,10"
test = my_conn.execute(query)

data_row = test.fetchall()

for row in data_row:
  print(row)

(1, 'balthazar', 'roque', 1, 1, 2)

In [ ]:
# fetch 10 first record in role table
query = "SELECT * FROM role limit 0,10"
test = my_conn.execute(query)

data_row = test.fetchall()

for row in data_row:
  print(row)

In [ ]:
# fetch 10 first record in trip_info table
query = "SELECT * FROM trip_info limit 0,10"
test = my_conn.execute(query)

data_row = test.fetchall()

for row in data_row:
  print(row)

In [ ]:
# fetch 10 first record in city table
query = "SELECT * FROM city limit 0,10"
test = my_conn.execute(query)

data_row = test.fetchall()

for row in data_row:
  print(row)

In [79]:
# fetch 10 first record in vehicle table
query = "SELECT * FROM vehicle limit 0,10"
test = my_conn.execute(query)

data_row = test.fetchall()

for row in data_row:
  print(row)

('1', 'resgister_1', 'kia', 'stinger', 'grey', 1873788, 3, 0, 1)

In [78]:
# fetch 10 first record in maintenance table
query = "SELECT * FROM maintenance limit 0,10"
test = my_conn.execute(query)

data_row = test.fetchall()

for row in data_row:
  print(row)

(1, 'A', 144155, 415166, 'change oil', '22/10/2020')
(2, 'A', 144155, 415166, 'change oil', '22/10/2020')

In [77]:
# fetch 10 first record in booking table
query = "SELECT * FROM booking limit 0,10"
test = my_conn.execute(query)

data_row = test.fetchall()

for row in data_row:
  print(row)

('booking_ref', 'vehicle_id', 1, 2, 2, 3)
('booking_ref1', 'vehicle_id', 1, 2, 2, 3)

In [76]:
# fetch 10 first record in driver table
query = "SELECT * FROM driver limit 0,10"
test = my_conn.execute(query)

data_row = test.fetchall()

for row in data_row:
  print(row)

(1, 'mijj', 'hhe', 'hbhdebhj', 2, 1, 2, 1)
(2, 'mijj', 'hhe', 'hbhdebhj', 2, 1, 2, 1)